*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#0072ff,
#00c6ff,
#00e6a7
);
}

.container{

width:420px;

background:#fff;

padding:40px;

border-radius:12px;

box-shadow:
0 10px 25px rgba(0,0,0,0.25);
}

.container h2{

text-align:center;

color:#00bcd4;

margin-bottom:25px;
}

input{

width:100%;

padding:12px;

margin:12px 0;

border:none;

border-bottom:
2px solid #00d4c7;

outline:none;

font-size:15px;
}

.checkbox{

display:flex;

align-items:center;

margin-top:10px;

font-size:14px;
}

.checkbox input{

width:auto;

margin-right:8px;
}

button{

width:100%;

padding:14px;

margin-top:20px;

border:none;

border-radius:5px;

background:
linear-gradient(
90deg,
#00bcd4,
#00e5a8
);

color:white;

font-size:16px;

cursor:pointer;
}

button:hover{
opacity:0.9;
}

p{

text-align:center;

margin-top:20px;
}

a{

color:#00bcd4;

text-decoration:none;

font-weight:bold;
}

/* Dashboard */

.dashboard{

width:500px;

background:white;

padding:40px;

border-radius:15px;

text-align:center;

box-shadow:
0 10px 25px rgba(0,0,0,0.25);
}

.card{

background:
linear-gradient(
135deg,
#00c6ff,
#0072ff
);

color:white;

padding:30px;

border-radius:12px;

margin:25px 0;
}